<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sjProj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sjProj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <sjProj.Properties.Settings>
            <setting name="PinnedTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContainerBgColor" serializeAs="String">
                <value>45, 45, 45</value>
            </setting>
            <setting name="TitleBarColor" serializeAs="String">
                <value>28, 28, 28</value>
            </setting>
            <setting name="LeftPanelColor" serializeAs="String">
                <value>35, 35, 35</value>
            </setting>
            <setting name="current_lang" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ip_local" serializeAs="String">
                <value />
            </setting>
            <setting name="ip_global" serializeAs="String">
                <value />
            </setting>
        </sjProj.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <sjProj.Properties.Settings>
            <setting name="settings_link" serializeAs="String">
                <value>https://x544d.github.io/setting.json</value>
            </setting>
            <setting name="app_title" serializeAs="String">
                <value>P U X Y - A D M I N I S T R A T I O N</value>
            </setting>
            <setting name="app_version_link" serializeAs="String">
                <value>https://x544d.github.io/version.txt</value>
            </setting>
        </sjProj.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>